1. Write a Python Program to accept the details of a student like name, roll number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output:
Name: Anisha
Roll No: 21
Mark: 78

In [1]:
name=input("Enter the name: ")
rollno=int(input("Enter the roll number :"))
mark=float(input("Enter the mark: "))

print("\n Name: ",name,'\n Roll No: ',rollno,'\n Mark: ',mark)

Enter the name: Vishnupriya
Enter the roll number :60
Enter the mark: 91

 Name:  Vishnupriya
 Roll No:  60
 Mark:  91.0

2. Write a Python program to convert temperatures to and from Celsius Fahrenheit.
[Formula: c/5=f-32/9 where c=temperature in Celsius and f= temperature in Fahrenheit.] 
Sample input: Temperature in Fahrenheit =41 
Sample output: Temperature in Celsius =5

In [2]:

ch=1
while(ch):
    s=int(input("Select\n 1.Fahrenheit...>Cesius\n 2.Cesius...>Fahrenheit\n"))
    if (s==1):
        f=float(input("Enter temperature in Fahrenheit: "))
        c=5*(f-(32/9))
        print("Temperature in Celsius ={0:.3f}".format(c))
        
    else:
        c=float(input("Enter temperature in Celsius: "))
        f=c/5+32/9
        print("Temperature in Fahrenheit ={0:.3f}".format(f))
        
    ch=int(input('Enter 0 to exit 1 to continue:'))

Select
 1.Fahrenheit...>Cesius
 2.Cesius...>Fahrenheit
1
Enter temperature in Fahrenheit: 41
Temperature in Celsius =187.222
Enter 0 to exit 1 to continue:1
Select
 1.Fahrenheit...>Cesius
 2.Cesius...>Fahrenheit
2
Enter temperature in Celsius: 41
Temperature in Fahrenheit =11.756
Enter 0 to exit 1 to continue:0

3. Write a Python program to accept two numbers from the user and display its product.

In [3]:
a=float(input("Enter the first number: "))
b=float(input("Enter the second number: "))
print("Product of",a,'and',b,'is',a*b)

Enter the first number: 32.7
Enter the second number: 47.9
Product of 32.7 and 47.9 is 1566.3300000000002

4. Write a Python program to accept a string “Learn Python by Developing a Website” 
and display the string like “Learn**Python** by Developing a **Website**”

In [4]:
s=input("Enter the string: ")
print(s)
s=s.replace(" Python","\033[1m**Python**\033[0;0m")
s=s.replace("Website","\033[1m**Website**\033[0;0m")
print(s)

Enter the string: Learn Python by Developing a Website
Learn Python by Developing a Website
Learn**Python** by Developing a **Website**

5. Write a Python program to accept the radius of a circle and display its area.

In [5]:
import math
r=float(input("Enter radius(cm): "))
print("Area:{0:.2f} sq.cm ".format(math.pi*r*r))

Enter radius(cm): 3.7
Area:43.01 sq.cm

6. Python program to insert a number to any position in a list (Get the number to be inserted and position from the user)

In [11]:
list1 = [int(i) for i in input("Enter the list items : ").split()]
print(list1)
ch=input("Insert elements to list (y/n)? :")
while(ch=='y' or ch=='Y'):
    ele,p= input("Enter element and position with comma ").split(",")
    ele,p=float(ele),int(p)
    list1.insert(p,ele)
    print(list1)
    ch=input("Insert elements to list (y/n)? :")

Enter the list items : 5 10 15 20 25
[5, 10, 15, 20, 25]
Insert elements to list (y/n)? :y
Enter element and position with comma 1,3
[5, 10, 15, 1.0, 20, 25]
Insert elements to list (y/n)? :y
Enter element and position with comma 2,7
[5, 10, 15, 1.0, 20, 25, 2.0]
Insert elements to list (y/n)? :y
Enter element and position with comma 3,10
[5, 10, 15, 1.0, 20, 25, 2.0, 3.0]
Insert elements to list (y/n)? :y
Enter element and position with comma 4,11
[5, 10, 15, 1.0, 20, 25, 2.0, 3.0, 4.0]
Insert elements to list (y/n)? :y
Enter element and position with comma 4,10
[5, 10, 15, 1.0, 20, 25, 2.0, 3.0, 4.0, 4.0]
Insert elements to list (y/n)? :n

7. Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [12]:
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
print(sample_dict)
sample_dict['location']=sample_dict.pop('city')
print('Updates sample_dict: \n ',sample_dict)

{'name': 'John', 'age': 5, 'salary': 8000, 'city': 'New York'}
Updates sample_dict:
  {'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

8. Write a Python program to change Brad’s salary to 8500 in the following dictionary.
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

In [13]:
sample_dict = {'emp1': {'name': 'John', 'salary': 7500},
               'emp2': {'name': 'Emma', 'salary': 8000},
               'emp3': {'name': 'Brad', 'salary': 500}}
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

9. Write a program to copy elements 43 and 54 from the following tuple into a new tuple. Given:
tuple1 = (10, 20, 43, 54, 56, 68)

In [14]:
tuple1 = (10, 20, 43, 54, 56, 68)
tuple2=tuple1[2:4]
print(tuple2)

(43, 54)

10. Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [15]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
tuple1.count(50)

3